---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/sites/6048c57f255aff50533565bf/collections
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"arMfhBv634SfndyDOD0h8A=="
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Response-Time:
      - 56.742ms
      X-Wf-Rid:
      - 4afa2142-3bd0-4a04-b5a1-a0c4aea071d6
    body:
      encoding: UTF-8
      string: '[{"_id":"6048c57f255aff31be3565cb","lastUpdated":"2021-03-10T13:11:33.700Z","createdOn":"2021-01-22T20:05:10.724Z","name":"Forms","slug":"forms","singularName":"Form"},{"_id":"6048c57f255aff370f3565ca","lastUpdated":"2021-03-10T13:11:33.690Z","createdOn":"2021-01-14T16:55:35.029Z","name":"FAQs","slug":"faqs","singularName":"FAQ"},{"_id":"6048c57f255aff41433565c9","lastUpdated":"2021-03-10T13:11:33.681Z","createdOn":"2021-01-12T01:50:06.685Z","name":"Events","slug":"events","singularName":"Event"},{"_id":"6048c57f255aff5fe43565c8","lastUpdated":"2021-04-27T08:29:21.155Z","createdOn":"2021-01-11T23:28:29.566Z","name":"Entities","slug":"entities","singula[...]
- request:
    method: get
    uri: https://api.webflow.com/collections/6048c57f255affa0983565c7/items?limit=10&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"LHN8Uh1exVWY+cXZPJlktw=="
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Response-Time:
      - 43.036ms
      X-Wf-Rid:
      - 52fc23c8-fdce-4c43-bc54-4ed8df5863e7
    body:
      encoding: UTF-8
      string: '{"items":[{"posted-date":null,"expiration-date":null,"_archived":false,"_draft":false,"file-url":"https://<S3_BUCKET_NAME>.s3.amazonaws.com/uploads/sampletown-ct/assessor/documents/agendas/35845/ALLYN%20JULY%209%2C%202020-Layout1.pdf","event":null,"external-video-url":null,"document-type":"fe1e194b7d07454dfb15303618c5a373","name":"Valid
        url??","slug":"valid-url","entity":"6049d93febf4be1334c65b23","updated-on":"2021-05-20T11:20:15.406Z","updated-by":"Person_600e7e930d76e69196a9592b","created-on":"2021-05-20T11:20:15.406Z","created-by":"Person_600e7e930d76e69196a9592b","published-on":"2021-05-20T11:20:15.406Z","published-by":"Person_600e7e930d76e69196a9592b","_cid":"6048c57f255affa0983565c7","_id":"60a645efa1d9ceb1c5a7b46b"},{"posted-date":null,"expiration-date":null,"_archived":false,"_draft":false,"file-url":"https://<S3_BUCKET_NAME>.s3.amazonaws.com/uploads/sampletown-ct/assessor/documents/audits/26804/Fire%20%26%20EMS%2BAg%20Sept.%2010%2C%202020.pdf","event":null,"document-type":"143014515ec7bac5bc7258ebff53ef87","name":"Test
        special chars","external-video-url":"https://us02web.zoom.us/u/kb5VAnsaJh","slug":"test-special-chars","entity":"6087d56[...]
[...]
- request:
    method: get
    uri: https://api.webflow.com/collections/6048c57f255affa0983565c7/items?limit=10&offset=20
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2df-de3a045e"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Response-Time:
      - 142.901ms
      X-Wf-Rid:
      - 9290ccbd-d24b-41e3-9e15-1cab6f457ed1
    body:
      encoding: UTF-8
      string: '{"items":[{"_archived":false,"_draft":false,"posted-date":"2020-04-14T00:00:00.000Z","file-url":"https://municipal-documents.s3.amazonaws.com/uploads/sampletown-ct/assessor/documents/forms/1030/2018_GrandList.pdf","document-type":"9b7f9b948948a523c7e68269b7cd8419","name":"Sit
        Malesuada Form","slug":"sit-malesuada-form","entity":"6049d93febf4be1334c65b23","updated-on":"2021-03-11T09:59:22.746Z","updated-by":"Person_600e7e930d76e69196a9592b","created-on":"2021-03-11T08:48:14.622Z","created-by":"Person_600e7e930d76e69196a9592b","published-on":"2021-03-11T09:59:22.746Z","published-by":"Person_600e7e930d76e69196a9592b","_cid":"6048c57f255affa0983565c7","_id":"6049d94e2308091318e45b08"}],"count":1,"limit":10,"offset":20,"total":21}'
  recorded_at: Mon, 31 May 2021 09:38:13 GMT
recorded_with: VCR 6.0.0
