---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/sites/6048c57f255aff50533565bf/collections
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"arMfhBv634SfndyDOD0h8A=="
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Response-Time:
      - 30.076ms
      X-Wf-Rid:
      - c6558753-5485-4925-95d5-d3589a4d70a6
    body:
      encoding: UTF-8
      string: '[{"_id":"6048c57f255aff31be3565cb","lastUpdated":"2021-03-10T13:11:33.700Z","createdOn":"2021-01-22T20:05:10.724Z","name":"Forms","slug":"forms","singularName":"Form"},{"_id":"6048c57f255aff370f3565ca","lastUpdated":"2021-03-10T13:11:33.690Z","createdOn":"2021-01-14T16:55:35.029Z","name":"FAQs","slug":"faqs","singularName":"FAQ"},{"_id":"6048c57f255aff41433565c9","lastUpdated":"2021-03-10T13:11:33.681Z","createdOn":"2021-01-12T01:50:06.685Z","name":"Events","slug":"events","singularName":"Event"},{"_id":"6048c57f255aff5fe43565c8","lastUpdated":"2021-04-27T08:29:21.155Z","createdOn":"2021-01-11T23:28:29.566Z","name":"Entities","slug":"entities","singula[...]
- request:
    method: get
    uri: https://api.webflow.com/collections/6048c57f255aff62883565cf/items?limit=10&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <WEBFLOW_API_TOKEN>
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"36-9b4c4a1c"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Response-Time:
      - 39.631ms
      X-Wf-Rid:
      - 29b7f00b-7bf7-4fbc-b7f0-d60b30ab328e
    body:
      encoding: UTF-8
      string: '{"items":[],"count":0,"limit":10,"offset":0,"total":0}'
  recorded_at: Mon, 31 May 2021 11:09:03 GMT
recorded_with: VCR 6.0.0
